html, body {
  width: 100%;
  height: 100%;
}

.header {
  margin: 0 auto;
  width: 50%;
  height: 50px;
  border: 2px solid #171C44;
  border-radius: 20px;
}

.header ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul li {
  padding: 0px 10px;
  color: #171C44;
}

.header ul li:hover {
  color: grey;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}

.bar {
  fill: #171C44;
}

circle {
  fill: #171C44;
}

.bar:hover {
  fill: gray;
}

.interested {
  fill: #8b9dc3;
}

.attending {
  fill: #3b5998;
}

.interested:hover {
  fill: gray;
}

.attending:hover {
  fill: gray;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
